body {
  background-image: url("images/backgroundimage1.jpg");
  background-color: dimgrey;
  background-repeat: no-repeat;
  background-size:100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 60;
}
p{
  font-family: helvetica, sans-serif;
}
tr:hover{
  background-color: red;
}
td.sm:hover{
  background-color: blue;
}
td.csm:hover{
  background-color: darkred;
}

td.ts:hover{
  background-color: gold;
}
.thead{
  background-color: #779696;
  font-family: garamond;
  color: darkblue;
}
.header{
  color: #4f4733;
  font-size: 40;
  font-family: impact, fantasy;
}
.descriptor{
  font-family: times;
}
.factions{
  border:1px solid black;
}
.bottomrow{
  font-family: arial;
}

.leftcol {
    float: left;
    width: 20%;
}
    .leftcol :hover Click to Enlist {
        transform: scale(1.5)
    }
.midcol{
  width: 60%;
  float: left;
}
.rightcol{
  float: right;
  width: 15%;
  padding left: 5%;
}
#div1{

  background-color: lightgrey;
  min-height: 900;
}
p::first-line {
  color: #5A513E;

}
